#listMessage {
  height: 90%;
  overflow-y: auto;  
}

.message {
  margin: 0 20px 0 20px;
  padding: 30px 0 30px 0;
  border-bottom: 2px solid rgba(0,0,0,0.1)
}

.message img {
  margin-right: 10px;
  height: 40px;
  width: 40px
}

.message .username {
  margin-right: 20px;
  font-weight: bold
}