#formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  width: 400px;
}

#formLogin input{
  width: 100%;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  font-size: 25px;
}

#formLogin input[type="text"]{
  height: 80px;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.4);
  color: #9D9288;
  padding-left: 10px
}

#formLogin input[type="submit"]{
  height: 70px;
  border: 1px solid black;
  background-color: #4D7DD4;
  color: white;
}