/* En vrai ... ça n'a rien à faire là */

#header {
  height: 15%;
  width: 100%;
}

#chatFunctionnalities {
  display: flex;
  height: 85%;
  width: 100%
}

#channelsHandler {
  flex: 1;
  overflow-y: auto
}

#conversation {
  flex: 5;
}

#messageHdlr {
  border-radius: 10px 0 0 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#createModal {
  width: 100%;
  height: 80px;
}