#formMessage {
  flex: 1
}

#formMessage input[type='text']{
  width: 90%;
  height: 100%
}

#formMessage input[type="submit"]{
  height: 70px;
  width: 70px;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #4D7DD4;
  color: white;
}