.bgErrorModal {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.errorModal {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px
}