.bgCreateModal {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.createModal {
  position: absolute;
  top: 20%;
  left: 40%;
  right: 40%;
  bottom: 20%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: flex;
  justify-content: center;
}