
#listChannel .select {
  background-color: #4D7DD4;
}

#listChannel li {
  padding: 20px 0 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white
}

#listChannel li img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

#listChannel li img:hover {
  height: 40px;
  width: 40px;
  filter: sepia(80%)
}

