* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html, body, #root, .default{
  height: 100%;
  width: 100%
}

body {
  background-image: linear-gradient(to bottom right, #656570, #16002D);
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

a, ul, li {
  text-decoration: none;
  list-style: none;
}